* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

header, footer {
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
}

main {
    border: 4px solid black;
    margin: 4px;
    padding: 4px;
}

form {
    display: inline-block;
    width: 80vw;
    background-color: grey;
    border: 1px solid black;
}

#tryAgain {
    display: none;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card img {
    width: 50px;
}

.card2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card2 img {
    width: 50px;
}

.card3{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card3 img {
    width: 50px;
}

.card4{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card4 img {
    width: 50px;
}

.card5{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card5 img {
    width: 50px;
}

.card6{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card6 img {
    width: 50px;
}